{# src/Frontend/Templates/Pages/Home/index.html.twig #}
{% extends 'layouts/layout.html.twig' %}

{% block content %}
<div class="carousel-container">
    <div class="carousel">
        <button class="carousel-arrow prev">
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class="carousel-slides">
            {% for slide in slides %}
            <div class="carousel-slide{% if loop.first %} active{% endif %}">
                <img src="{{ slide.image }}" alt="Slide {{ loop.index }}">
                <div class="carousel-overlay">
                    <div class="carousel-logo">
                        <i class="{{ slide.icon }}"></i>
                    </div>
                    <div class="carousel-description">
                        <h2>{{ slide.title }}</h2>
                        <p>{{ slide.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-arrow next">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Inclure le script spécifique à la machine à sous -->
    <script src="/js/carousel.js"></script>
{% endblock %}
